h1{
    text-align: center;
}

#show-list{
    text-align: center;
}

#input{
    text-align: center;
}
li{
    list-style: none;
}

#control{
    height: 10px;
}

.control{
    display: inline;
    text-align: center;
}

label{
}

ul{
    text-align: center;
}

.con{
    border: 2px solid whitesmoke;
    border-radius: 2px;
    cursor:pointer
    
}